/* 기본 설정들 */
html, body {
    height: 100%; 
    margin: 0; 
}

/* 중앙 정렬 복붙한거 */
.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
     justify-content: center; 
    height: 100%; 
}

/* 중앙정렬2 복붙 */
.food_container, .comment_form, .comment_container, .concon_container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    max-width: 800px; 
    padding: 80px;
    background-color: #ffffff; 
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    margin-bottom: 10px; 
}

/* 댓글 폼 레이블 중앙 정렬 */
.comment_form label {
    margin-bottom: 10px; 
    font-weight: bold;
    
}

/* 닉네임과 비밀번호 입력 필드를 수평으로 배치 */
.comment_form .input-group {
    display: flex; 
   
    width: 50%; 
    margin-bottom: 0px; 
}


/* 댓글 입력 영역 스타일 */
.comment_form textarea {
    width: 100%;
   
    padding: 10px;
    font-size: 14px;
    border: 1px solid #a08a8a;
    border-radius: 5px;
    margin-bottom: 20px; 
    box-sizing: border-box;
}

/* 댓글 등록 버튼 스타일 */
.comment_form button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.comment_form button:hover {
    background-color: #48b2b8; 
}



